{% extends 'layouts/base.html.twig' %}

{% block title 'Registration for ' ~ event.name %}

{% block body %}

    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="mt-5 h2 font-weight-light">Registration for <a
                        href="{{ path('events_show', {'id': event.id}) }}">{{ event.name }}</a></h1>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <p>
                <input type="submit" class="btn btn-primary" value="Register" formnovalidate/> |
                <a href="{{ path('events_registrations_index', {'event': event.id}) }}">Cancel</a>
            </p>
            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}
