{{ form_start(form) }}
    {{ form_widget(form) }}
    <p>
        <input type="submit" class="btn btn-primary" value="{{ submitButtonText }}"> |
        <a href="{{ path('events_index') }}">Cancel</a>
    </p>
{{ form_end(form) }}