{% extends 'layouts/base.html.twig' %}

{% block title event.name %}

{% block body %}

    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="mt-5 h2 font-weight-light">{{ event.name }}</h1>
            <h2 class="h4 font-weight-bold">{{ format_price(event)|format_currency('USD') }}</h2>
            <h3 class="h5 font-weight-light">On {{ event.startAt|datetime }} in {{ event.location }}</h3>
            <p class="h5 font-weight-light">{{ event.description }}</p>

            <p><a href="{{ path('events_edit', {'id': event.id}) }}">&rarr; Edit event</a></p>
        </div>
    </div>

{% endblock %}
